*.gir
*.la
*.lo
*.o
*.typelib
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
clutter-gst*.pc
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1

*.sw?
.gdb_history
TAGS
