*.stamp
*.bak
clutter-gst-decl-list.txt
clutter-gst-decl.txt
clutter-gst-overrides.txt
clutter-gst-undeclared.txt
clutter-gst-undocumented.txt
clutter-gst-unused.txt
clutter-gst.args
clutter-gst.hierarchy
clutter-gst.interfaces
clutter-gst.prerequisites
clutter-gst.signals
clutter-gst.types
html
tmpl
version.xml
xml
